* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: black;
  color: #fff;
}

img {
  max-width: 100%;
  max-height: 300px;
  display: block;
}

a {
  text-decoration: none;
  display: block;
  margin: 10px 0px;
  padding: 4px;
  color: #f5ebeb;
  text-transform: uppercase;
  background: #07e952;
  border-radius: 4px;
  text-align: center;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
