.header-bg {
  padding: 0.85rem 10px;
  background: var(--preto);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 300;
}

.header {
  text-align: center;
  margin: 0 auto;
  display: flex;
  padding: 0px 15px;
  justify-content: space-between;
  align-items: center;
}

#menu {
  display: flex;
  gap: 1.5rem;
}

#menu a {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--branco);
  width: max-content;
  padding: 10px;
  transition: 0.3s;
}

#menu a::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: var(--roxo-rinne);
  transition: 0.3s;
}

#menu a:hover {
  color: var(--roxo-rinne);
}

#menu a:hover::after {
  width: 100%;
}

#btn-mobile {
  display: none;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  color: var(--branco);
  border: none;
  background: none;
  cursor: pointer;
  gap: 0.5rem;
}

#hamburguer {
  color: var(--branco);
  border-top: 2px solid;
  width: 22px;
}

#hamburguer::after,
#hamburguer::before {
  content: "";
  display: block;
  width: 22px;
  height: 2px;
  background: currentColor;
  margin-top: 5px;
  transition: 0.3s;
  position: relative;
}

#nav-menu.active #hamburguer {
  border-top-color: transparent;
}

#nav-menu.active #hamburguer::before {
  transform: rotate(135deg);
}

#nav-menu.active #hamburguer::after {
  transform: rotate(-135deg);
  top: -7px;
}
